In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('kc_house_data.csv')

In [3]:
X = dataset.iloc[:, [2,3,4,5,6,7,8,9,10,11,12,16,17,18,19]].values
y = dataset.iloc[:, -1].values

In [4]:
X

array([[ 2.21900e+05,  3.00000e+00,  1.00000e+00, ...,  4.75112e+01,
        -1.22257e+02,  1.34000e+03],
       [ 5.38000e+05,  3.00000e+00,  2.25000e+00, ...,  4.77210e+01,
        -1.22319e+02,  1.69000e+03],
       [ 1.80000e+05,  2.00000e+00,  1.00000e+00, ...,  4.77379e+01,
        -1.22233e+02,  2.72000e+03],
       ...,
       [ 4.02101e+05,  2.00000e+00,  7.50000e-01, ...,  4.75944e+01,
        -1.22299e+02,  1.02000e+03],
       [ 4.00000e+05,  3.00000e+00,  2.50000e+00, ...,  4.75345e+01,
        -1.22069e+02,  1.41000e+03],
       [ 3.25000e+05,  2.00000e+00,  7.50000e-01, ...,  4.75941e+01,
        -1.22299e+02,  1.02000e+03]])

In [5]:
y

array([5650, 7639, 8062, ..., 2007, 1287, 1357], dtype=int64)

In [6]:
X.shape

(21613, 15)

In [7]:
y.shape

(21613,)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [9]:
#!pip install xgboost

In [10]:
import xgboost

In [11]:
xgb = xgboost.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75,colsample_bytree=1, max_depth=7)
traindf, testdf = train_test_split(X_train, test_size = 0.2)
res=xgb.fit(X_train,y_train)

In [13]:
pickle.dump(res, open('model1.pkl', 'wb'))

In [ ]:
"import joblib

In [ ]:
"""joblib.dump(res, 'model.pkl')
cols=["bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","view",
"condition","grade","sqft_above","sqft_basement","lat","long","sqft_living15","sqft_lot15"]
joblib.dump(cols, 'model_cols.pkl')"""

In [ ]:
#dataset.columns

In [ ]:
#dataset.head()

In [17]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [14]:
X.shape

(21613, 15)

In [18]:
a = res.predict(2,1.00,2234,4523,1.0,0,0,7,999,99,99,1,)

TypeError: Not supported type for data.<class 'int'>